@import "../../common";

.sidebar {
  position: relative;
  z-index: 100;
  grid-area: sidebar;
}

.socialNav {
  @include glass;

  position: sticky;
  top: $padding-md;
  left: 0;

  @media only screen and (max-width: $bp-mobile) {
    position: relative;
    top: 0;
  }
}
