@import "../../common/mixins";

.header {
  @include glass;

  position: relative;
  grid-area: header;
  text-align: center;

  padding: 16px;
  width: 100%;
}

.headerText {
  font-size: 64px;
}

.subtitle {
  font-size: 18px;
}
