@import "src/common";

.header {
  @include glass;

  position: relative;
  width: 100%;
  padding: 16px;

  text-align: center;
  grid-area: header;
}

.headerText {
  font-size: 64px;
}

.subtitle {
  font-size: 18px;
}
