$bp-mobile: 800px;

$padding-lg: 32px;
$padding-md: 16px;
$padding-sm: 8px;
$padding-xs: 4px;

$colour-primary: hsl(10, 100%, 70%);
$colour-primary-light: lighten($colour-primary, 20%);
$colour-primary-dark: darken($colour-primary, 10%);

$colour-dark: hsl(0, 0%, 10%);
$colour-grey: hsl(0, 0%, 40%);
$colour-light: hsl(0, 0%, 95%);
