@import "common";

.app {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background: url("Assets/Img/Background.png");

  @media only screen and (max-width: $bp-mobile) {
    padding: $padding-sm;
  }

  @media only screen and (min-width: $bp-mobile) {
    padding: $padding-lg;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}
