$bp-mobile: 800px;

$padding-lg: 32px;
$padding-md: 16px;
$padding-sm: 8px;
$padding-xs: 4px;

@mixin glass {
  color: hsl(0, 0%, 80%);
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  background-color: hsl(0, 0%, 33%);

  box-shadow: 5px 10px 10px hsl(0, 0%, 10%);
}
