@import "../../common";

.item {
  position: relative;
  display: inline-flex;
  overflow: hidden;

  align-items: center;
  flex-grow: 1;
  justify-content: center;

  &.hasOnClick {
    cursor: pointer;
  }

  .image {
    width: 100%;
    height: 100%;
    padding: 0;
    transition: padding 200ms;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
      background: gray;
    }
  }

  &:hover {
    .image {
      padding: 4px;
    }

    .metadata {
      &.metadataTop {top: 0;}

      &.metadataBottom {bottom: 0;}
    }
  }

  .spinner {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.metadata {
  position: absolute;
  width: 100%;
  padding: $padding-sm;
  transition: top 250ms ease, bottom 250ms ease;
  color: hsl(0, 0%, 10%);
  background: hsla(0, 100%, 100%, 0.75);

  &.metadataTop { top: -100%; }

  &.metadataBottom { bottom: -100%; }
}
