@import "src/common";

.item {
  position: relative;
  display: inline-flex;

  overflow: hidden;
  align-items: center;

  justify-content: center;

  border-radius: 5px;

  background: gray;
  box-shadow: 5px 5px 5px hsl(0, 0%, 10%);

  @media only screen and (max-width: $bp-mobile) {
    align-items: center;
    max-height: 80vh;

    .image {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }

  @media only screen and (min-width: $bp-mobile) {
    max-width: 400px;
    height: 250px;

    .image {
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover .metadata {
    &.metadataTop {top: 0;}

    &.metadataBottom {bottom: 0;}
  }
}


.metadata {
  position: absolute;
  width: 100%;
  padding: $padding-sm;
  transition: top 250ms ease, bottom 250ms ease;
  color: hsl(0, 0%, 10%);
  background: hsla(0, 100%, 100%, 0.75);

  &.metadataTop { top: -100%; }

  &.metadataBottom { bottom: -100%; }
}
