@import "../common/mixins";
@import "../common/variables";

.gallery {
  @include glass;

  padding: $padding-md;
}

.galleryGrid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: $padding-md;
}

.galleryTitle {
  font-size: 2rem;
  padding-bottom: $padding-md;
}