.section {
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-height: 750px;
  overflow: hidden;

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    cursor: pointer;
  }
}

.title {
  font-size: 20px;
}

.date {
  font-size: 14px;
}

.description {
  padding: 8px;
  background: grey;

}

.tags {
  font-size: 14px;
}
