@import "../../theme";

$logo-size: 36px;
$label-width: 100px;

.wrapper {
  display: block;
  text-decoration: none;

  @media only screen and (min-width: $bp-mobile) {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: $logo-size;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: width;

    &:hover {
      width: $logo-size + $label-width;
    }
  }
}

.contents {
  display: flex;
  width: $logo-size + $label-width;
  cursor: pointer;
  transition: background-color 250ms;
  background: change-color($colour-primary-light, $alpha: 0);

  @media only screen and (min-width: $bp-mobile) {
    &:hover {
      background: change-color($colour-primary-light, $alpha: 1);
    }

    &:active {
      background: change-color($colour-primary, $alpha: 1);
    }
  }
}

.logo {
  padding: 8px;
  width: $logo-size;
  height: $logo-size;
}

.label {
  align-self: center;
  grid-area: label;
  color: $colour-dark;
  justify-self: left;
}

@media only screen and (max-width: $bp-mobile) {
  .wrapper {
    display: inline-block;
    width: $logo-size;
    height: $logo-size;
  }

  .label {
    display: none;
  }
}
