@import "../../common";

.adminNav {
  padding: 0;
}

.navItem {
  padding: $padding-md;
  cursor: pointer;
  transition: background-color 250ms;

  &:hover {
    color: $colour-dark;
    background-color: $colour-primary-light;
  }

  &Active {
    color: $colour-dark;
    background-color: $colour-primary;
  }
}
