@import "../common";

.layout {
  display: grid;
  grid-gap: $padding-md;

  @media only screen and (max-width: $bp-mobile) {
    padding: $padding-sm;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
            "header"
            "sidebar"
            "main";
  }

  @media only screen and (min-width: $bp-mobile) {
    padding: $padding-lg;
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            "header  header"
            "sidebar main";
  }
}
