.app {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header  header"
        "sidebar main";

    height: 100vh;
    width: 100vw;
    background: url("images/background.png");
}

.header {
    grid-area: header;
    width: 100%;

    padding-left: 16px;

    background: hsl(0, 0%, 40%);
}

.sideBar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}