.tile {
  display: grid;
  position: relative;
  left: 0;

  width: 225px;

  background: hsl(0, 0%, 80%);
  padding: 8px;

  transition:
      background-color 250ms,
      left 250ms;
}

.tile:hover {
  background: hsl(20, 44%, 72%);
  left: 16px;
}

.tileImage {
  height: 32px;
  justify-self: center;
  align-self: center;
}

