@import "../../common";

.curtain {
  position: fixed;

  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  overflow-y: auto;
  align-items: flex-start;

  width: 100vw;
  height: 100vh;

  background: hsla(0, 0, 0, 0.4);
}

.body {
  position: relative;

  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding: $padding-md
}

.closeBtn {
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;

  color: $colour-light;
  background: change-color($colour-grey, $alpha: 1);
  backdrop-filter: blur(4px);
  border-radius: 4px;
  transition: background-color 250ms, color 250ms;

  &:hover {
    color: $colour-primary;
    background: change-color($colour-dark, $alpha: 0.5);
  }

  &:active {
    color: $colour-primary;
    background: change-color($colour-dark, $alpha: 1);
  }
}
