@import "../../common";

.header {
  position: relative;
  width: 100%;
  padding: 16px;

  text-align: center;
  grid-area: header;

  font-size: 64px;

  cursor: pointer;
}

.subtitle {
  font-size: 18px;
}
